//
// MDC Theme
//

// Svelte Colors!
$mdc-theme-primary: #9c6cd3;
$mdc-theme-secondary: #b08adc;
// Other Svelte color: #40b3ff

$mdc-theme-background: #fff;
$mdc-theme-surface: #fff;

$mdc-theme-error: red;